.wl-input{
    width: 60%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 10px;   
    position: relative;
    bottom: 370px;
    left: 100px;

}

.wl-button{
    width: 30%;
    height: 56px;
    border: 1px solid #83F3DF;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #83F3DF;
    color: #83F3DF;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    bottom: 372px;
    left: 120px;

}