@media screen and (max-width: 768px) {
    
}

@media screen and (min-width: 768px) {
    /* .dashboard-info-bg{
        background-color: #D1B2FF;
        margin-left: 55px;
        height: 600px;
        width: 1100px;

    } */

    .dashboard-mockup-svg{
        position: relative;
        top: 120px;
    }

    .dashboard-info-title{
        font-size: 34px;
        color: black;
        font-weight: 600;
        text-decoration: underline;
    }

    .info-arrow-groceries{
        position: relative;
        left: 110px;
        top: 700px;
    }

    .info-arrow-fmlychat{
        position: relative;
        left: 330px;
        top: 520px;

    }

    .info-arrow-cashquest{
        position: relative;
        right: 110px; 
        top: 520px;
    }

    .info-arrow-dinnertime{
        position: relative;
        right: 330px;
        top: 700px;
    }

    .info-card-groceries{
        position: relative;
        width: 314px;
        height: 327px;
        max-width: 100%;
        max-height: auto;
        bottom: 1445px;
        left: 1060px;
        z-index: 1;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 28px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .info-card-fmlychat{
        position: relative;
        width: 314px;
        height: 327px;
        max-width: 100%;
        max-height: auto;
        bottom: 1270px;
        left: 1060px;
        z-index: 1;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 28px;
        transform: matrix(-1, 0, 0, 1, 0, 0);

    }

    .info-card-cashquest{
        position: relative;
        width: 314px;
        height: 327px;
        max-width: 100%;
        max-height: auto;
        bottom: 950px;
        left: 120px;
        z-index: 1;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 28px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .info-card-dinnertime{
        position: relative;
        width: 314px;
        height: 327px;
        max-width: 100%;
        max-height: auto;
        bottom: 1120px;
        left: 120px;
        z-index: 1;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 28px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .info-text{
        position: relative;
        width: 292px;
        margin: auto;
        top: 50px;
        height: 216px;
        
        text-align: start;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scaleX(-1);
        color: #000000;
        text-indent: 10%;
    }

}