@media screen and (max-width: 768px) {

  i{
    margin-left: 10px;
    margin-right: 10px;
  }

  .title{
    font-size: 3.4rem;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 20px; 
    position: relative;
    top: 90px;
    text-align: start;
    max-width: fit-content;
  }

  .fmly-title{
    font-size: 3.4rem;
    font-weight: 600;
    font-family: 'Paytone One', sans-serif;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #21F3CE;
    max-width: fit-content;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .iPhone-mockup{
    display: none;
  }

  .dev-update-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #000000;
    max-width: 100%;
    line-height: normal;
    position: relative;
    text-align: start;
    top: 100px;
    
  }


  .homepage-info-pitch{
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    max-width: 100%;
    line-height: normal;
    text-indent: 15px;
    padding: 0;
    position: relative;
    text-align: start;
    top: 100px;
  }

  .homepage-download-info-text{
    font-size: 1rem;    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000000;
    position: relative;

  }

  .demo-button{
    width: 40%;
    max-width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    bottom: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .interest-signup-input{
    width: 80%;
    max-width: 400px;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    bottom: 100px;
  }
  

  .QR-code{
    width: 50%;
    max-width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 30px;
  }

  .QR-code-text{
    font-size: 1rem;    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000000;
    position: relative;
    margin-top: 20px;
  }

  .play-store-button{
    width: 40%;
    max-width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .app-store-button{
    width: 40%;
    max-width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .homepage-hr{
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #848f8dad;
    color: #21F3CE;
    margin-bottom: 100px;
  }

  .pricing-options-text{
    font-size: 2.3rem;
    font-weight: 600;
    color: #888181;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    position: relative;
    margin-bottom: 30px;
    text-align: start;
    max-width: fit-content;
  }
}

@media screen and (min-width: 768px) {

  i{
    margin-left: 10px;
  }

  .title{
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
    position: relative;
    top: 150px;
    left: 50px;
    text-align: start;
    max-width: fit-content;
  }

  .fmly-title{
    font-size: 5.5rem;
    font-weight: 600;
    font-family: 'Paytone One', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #21F3CE;
    max-width: fit-content;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .iPhone-mockup{
    width: 40%;
    max-width: 600px;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    top: 20px;
    float: right;
    margin-bottom: 30px;
    

  }

  .homepage-info-pitch{
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
    max-width: 50%;
    line-height: normal;
    text-indent: 15px;
    padding: 0;
    position: relative;
    text-align: start;
    top: 150px;
    left: 50px;
  }

  .homepage-download-info-text{
    font-size: 1rem;    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000000;
    position: relative;
  }

  .demo-button{
    width: 40%;
    max-width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    bottom: 70px;
    position: relative;
    margin-bottom: 30px;
    margin-left: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .interest-signup-input{
    width: 80%;
    max-width: 400px;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .QR-code{
    width: 40%;
    max-width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 30px;
  }

  .QR-code-text{
    font-size: 1rem;    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000000;
    position: relative;
    margin-top: 20px;
  }

  .play-store-button{
    width: 40%;
    max-width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    margin-bottom: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .app-store-button{
    width: 40%;
    max-width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .homepage-hr{
    width: 80%;
    margin-top: 40px;
    margin-bottom: 100px;
    border: 1px solid #848f8dad;
    color: #21F3CE;
    
  }

  .pricing-options-text{
    font-size: 2.3rem;
    font-weight: 600;
    color: #888181;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    position: relative;
    margin-bottom: 30px;
    text-align: start;
    max-width: fit-content;
  }

}