@media screen and (max-width: 768px) {


  i{
    margin-left: 10px;
    margin-right: 10px;
  }

  .title{
    font-size: 3.4rem;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 50px; 
    position: relative;
    top: 30px;
    text-align: start;
    max-width: fit-content;
    
  }

  .fmly-title{
    font-size: 3.4rem;
    font-weight: 600;
    font-family: 'Paytone One', sans-serif;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #83F3DF;
    max-width: fit-content;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .wooden-hand-mockup{
    display: none;
    /* width: 70%;
    max-width: 500px;
    max-height: auto;
    padding: 0;
    position: relative;
    top: 90px;
    animation: float 6s ease-in-out infinite; */
  }

  .dev-update-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #000000;
    max-width: 100%;
    line-height: normal;
    position: relative;
    text-align: start;
    top: 100px;
    
  }


  .homepage-info-pitch{
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    max-width: 100%;
    line-height: normal;
    text-indent: 15px;
    padding: 0;
    position: relative;
    text-align: start;
    top: 30px;
  }

  .homepage-download-info-text{
    font-size: 1rem;    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000000;
    position: relative;
    top: 50px;
  }

  .demo-button{
    width: 40%;
    max-width: 200px;
    height: auto;
    margin: 0;
    padding: 0; 
    position: relative;
    bottom: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .interest-signup-input{
    width: 80%;
    max-width: 500px;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 220px;
  }  

  /* .QR-code{
    width: 50%;
    max-width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 30px;
  }

  .QR-code-text{
    font-size: 1rem;    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000000;
    position: relative;
    margin-top: 20px;
  } */

  .play-store-button{
    width: 40%;
    max-width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    position: relative;
    bottom: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .app-store-button{
    width: 40%;
    max-width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    bottom: 40px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .homepage-hr-1{
    width: 80%;
    border: 1px solid #848f8dad;
    color: #83F3DF;
    position: relative;
    bottom: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .homepage-hr-2{
    width: 80%;
    border: 1px solid #848f8dad;
    color: #83F3DF;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .homepage-hr-3{
    width: 80%;
    border: 1px solid #848f8dad;
    color: #83F3DF;
    position: relative;
    margin-top: 40px;

  }

  .pricing-options-text{
    font-size: 28px;
    font-weight: 600;
    color: #888181;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: start;
    max-width: fit-content;
    margin-top: 20px;
    text-decoration: underline;
  }
}

@media screen and (min-width: 768px) {

  i{
    margin-left: 10px;
  }

  .title{
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000000;
    margin: auto;
    padding: 0;
    position: relative;
    top: 75px;
    max-width: fit-content;
  }

  .fmly-title{
    font-size: 90px;
    font-weight: 600;
    font-family: 'Paytone One', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #83F3DF;
    max-width: fit-content;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .wooden-hand-mockup{
    width: 100%;
    height: auto;
    max-width: 500px;
    margin: auto;
    display: flex;
    position: relative;
    left: 450px;
    animation: float 6s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0);
    }
  }

  .homepage-info-pitch{
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    width: fit-content;
    max-width: 45%;
    line-height: normal;
    text-indent: 15px;
    position: relative;
    text-align: start;
    top: 150px;
    left: 50px;

  }

  .homepage-download-info-text{
    font-size: 16px;    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000000;
    position: relative;
    bottom: 600px;
    left: 50px;
    width: fit-content;
    max-width: 50%;
    margin-top: 120px;
  }
  
  .info-text-br{
    margin-top: 10px;
  }

 

  /* .QR-code{
    width: 40%;
    max-width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 30px;
  }

  .QR-code-text{
    font-size: 1rem;    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000000;
    position: relative;
    margin-top: 20px;
  } */

  .play-store-button{
    width: 40%;
    max-width: 150px;
    height: auto;
    margin: 0;
    position: relative;
    margin-bottom: 100px;
    right: 398px;
    bottom: 400px;
    margin-left: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .app-store-button{
    width: 40%;
    max-width: 150px;
    height: auto;
    margin: 0;
    position: relative;
    right: 375px;
    bottom: 400px;
    margin-bottom: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .homepage-hr-1{
    width: 80%;
    margin-bottom: 100px;
    margin-top: -400px;
    border: 1px solid #848f8dad;
    
  }

  .pricing-options-text{
    font-size: 2.3rem;
    font-weight: 600;
    color: #888181;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    position: relative;
    margin-bottom: 30px;
    text-align: start;
    max-width: fit-content;
  }

}