.title{
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    position: relative;
    top: 100px;
    text-align: start;
    max-width: fit-content;
  }
  
  .iPhone-mockup{
    width: 60%;
    height: auto;
    margin: 0;
    left: 100px;
    position: relative;
    padding: 0;
  }

  .fmly-title{
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Paytone One', sans-serif;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #21F3CE;
    max-width: fit-content;
  }

  .homepage-info-pitch{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    max-width: fit-content;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: start;
  }

  .homepage-download-info-text{
    font-size: 2.5rem;
    
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    position: relative;
    max-width: fit-content;
    margin: 0;
    padding: 0;
    text-align: start;
  }

  .QR-code{
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    left: 100px;
  }