.pricing-box-free{
    width: 320px;
    height: auto;
    margin: auto;
    position: relative;
    background-color: #21F3CE;
  }

  .pricing-box-text{
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
    margin: 0;
    background-color: #21F3CE;
    padding: 2;
    position: relative;
  }

  .fmly-text{
    position: relative;
    float: right;
    font-size: 1.5rem;
    color: #21F3CE;
    font-family: 'Paytone One', sans-serif;
  }

  .fmly-board{
    font-size: 1.5rem;
    color: #6a7a66;
    font-family: 'Paytone One', sans-serif;
  }

  .fmly-text-details{
    font-size: 1.2rem;
    color: #21F3CE;
    font-family: 'Paytone One', sans-serif;
  }

  .fmly-board-details{
    font-size: 1.2rem;
    color: #6a7a66;
    font-family: 'Paytone One', sans-serif;
  }

  .fmly-accordion-detail{
    font-size: 1rem;
    color: #21F3CE;
    font-family: 'Paytone One', sans-serif;
  }

  .accordion-icon{
    margin-right: 40px;
  }